* {
    border: 2px dotted black;
    background-color: lightgray;
}
html {
    height: 100%;
}
body {
    position: relative;
}
.wrap *{
    min-height: 100%;
}
.header {
    height: 50px;
}
.wrap {
    height: calc(100% - 50px);
    width: 100%;
    display: flex;
}
#left_menu {
    position: sticky;
    float: left;
    display: grid;
    overflow: scroll;
    height: auto;
    margin: 0 auto;
    flex-wrap: wrap;
}

#right_menu {
    position: sticky;
    float: right;
    display: grid;
    overflow: scroll;
    height: auto;
    margin: 0 auto;
    flex-wrap: wrap;
}

#main_content {
    height: 100%;
    overflow: scroll;
    display: grid;
}